.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
  transition: color 0.1s ease;

  & svg {
    margin-right: 8px;
  }
}

.channelHeader {
  &:hover {
    color: gray;

    & svg {
      color: gray;
    }
  }
}

.channelItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: #898989;
  }

  & svg {
    margin-right: 8px;
  }
}

//
.userList {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b9bbbe;
  font-size: 13px;

  cursor: pointer;

  .lucide-user {
    color: #7289da;
  }

  .streamingIcon {
    color: #43b581;
  }
}

.streamingIcon {
  margin-left: auto;
}
