@media (hover: hover) {
  :where([data-mantine-color-scheme='light']) .m_f0824112:hover {
    background-color: var(--nl-bg);
  }
}

@media (hover: hover) {
  :where([data-mantine-color-scheme='light'])
    .m_220c80f2:where(:not([data-disabled], :disabled)):hover {
    background-color: var(--mantine-color-blue-light);
  }
}
